<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <video id="cameraFeed" controls>

    </video>
</body>
<script src="text.js"></script>
</html>

<!--bun add @hookform/resolvers @prisma/adapter-pg @prisma/client @supabase/ssr @supabase/supabase-js bcrypt class-variance-authority clsx dotenv framer-motion lucide-react next-themes pg radix-ui react-hook-form react-spinners sonner swiper tailwind-merge zod
-->

<!--bun add -d @tailwindcss/postcss @types/bcrypt @types/multer @types/pg prisma shadcn tailwindcss tsx tw-animate-css
-->